.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
Use_AppNoticeSDK/WaterDrop_aar/libs/AppNoticeSDK.old/
AppNotice/.idea/workspace.xml
AppNotice/local.properties
AppNotice/build/intermediates/
