<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ghostery.privacy.inappconsentsdk" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".app.App"
        android:allowBackup="true" >
        <activity
            android:name=".app.TrackerListActivity"
            android:launchMode="singleInstance"
            android:multiprocess="false"
            android:theme="@style/ghostery_AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.TrackerDetailActivity"
            android:label="@string/ghostery_tracker_detail_title"
            android:parentActivityName=".app.TrackerListActivity"
            android:theme="@style/ghostery_AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ghostery.privacy.inappconsentsdk.app.TrackerListActivity" />
        </activity>
    </application>

</manifest>
