<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ghostery.privacy.appnoticesdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application android:allowBackup="true">
        <activity
            android:name=".app.TrackerListActivity"
            android:alwaysRetainTaskState="true"
            android:clearTaskOnLaunch="false"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:label=""
            android:launchMode="singleInstance"
            android:screenOrientation="unspecified"
            android:theme="@style/ghostery_AppTheme">
        </activity>
        <activity
            android:name=".app.TrackerDetailActivity"
            android:alwaysRetainTaskState="true"
            android:clearTaskOnLaunch="false"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/ghostery_tracker_detail_title"
            android:launchMode="singleInstance"
            android:parentActivityName=".app.TrackerListActivity"
            android:screenOrientation="unspecified"
            android:theme="@style/ghostery_AppTheme">
        </activity>
    </application>

</manifest>
